# Dependency directories
node_modules/

# Webpack directory
.webpack

# Build directory
.build

# Serverless directories
.serverless/
.warmup/

# dotenv environment variables files
.env
.env*

# Code editor
.vscode

# Jest
coverage

# macOS litter
.DS_Store

# ES lint cache
.eslintcache

.npmrc
